body,
html {
  background-color: rgb(4, 4, 4);
  height: 100%;
}

.header{
    color:rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}


.sub-header{
    color: rgb(218, 91, 44);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 40px;
}


.img-container{
    text-align: center;
}


.img{
    height: 250px;
    width: 250px;
    border-radius:100% ;
    border: solid 5px rgb(218, 91, 44);
    
    background-color: aliceblue;
}


.description,p{
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    color:rgb(255, 255, 255);
    
}


.credit{
    color:rgb(255, 255, 255);
    text-align: center;

}


.underline{
    text-decoration: underline;
}



.box{
    display: flex;
    justify-content:center; 
    
    padding:40px;
}


.card{
   
  border-radius: 18px;
  width:250px;
  height: 250px;
  font-family: sans-serif;
  margin: 20px;
  background-color: rgb(255, 255, 255);
  border-bottom: solid 10px rgb(218, 91, 44);

  
}


#image{
    font-size: 6em;
   margin-top: 15%;
   margin-left: 10%;
   color:rgb(218, 91, 44) ;
    
}


.content{
    color: black;
    margin-left:20px ;
    text-align: left;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}